<div id="banner">
	<div class="outline"></div>
	
	<div class="frame frame1">
			
		
		
		<img class="bg3" src="./images/bg3.jpg" alt="" inline>
		<img class="bg2" src="./images/bg2.jpg" alt="" inline>
		<img class="bg1" src="./images/bg1.jpg" alt="" inline>
		<img class="retina logo" src="./images/logo.png" alt="" inline>
		
		<img class="retina t1" src="./images/t1.png" alt="" inline>
		
	</div>
	<div class="frame frame2">
		<p class="t1">Did you know that it</p>
		<p class="t2">comes in white</p>
		<img class="phone white" src="../_common/images/phone-white.jpg" inline>
	</div>
</div>