<div id="banner">
	<div class="outline"></div>
	<img class="retina" src="./images/bg.jpg" alt="" inline>
	<div class="frame frame1">
		
		
		<img class="retina t1" src="./images/t1.png" alt="" inline>
		<img class="retina t2" src="./images/t2.png" alt="" inline>
		<img class="retina t2a" src="./images/t2a.png" alt="" inline>
		<img class="retina t2b" src="./images/t2b.png" alt="" inline>
	</div>
	<div class="frame frame2">
		<p class="t1">Did you know that it</p>
		<p class="t2">comes in white</p>
		<img class="phone white" src="../_common/images/phone-white.jpg" inline>
	</div>
</div>